################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/m2ostnextservice/v15/Server/sqlite3
/.vs/m2ostnextservice/v15
/.vs
/skillmuniwebservice/obj/Debug
